In [15]:
# Extracting pack sizes
transaction_df.loc[:, "PACK_SIZE"] = transaction_df["PROD_NAME"].str.extract(r"(\d+)[gG]").astype(int)

# Check the pack sizes 
print(transaction_df["PACK_SIZE"].isnull().sum())  

pack_size_counts = transaction_df.groupby("PACK_SIZE").size().reset_index(name="N").sort_values(by="PACK_SIZE")
print(pack_size_counts)

0
    PACK_SIZE      N
0          70   1507
1          90   3008
2         110  22387
3         125   1454
4         134  25102
5         135   3257
6         150  43131
7         160   2970
8         165  15297
9         170  19983
10        175  66390
11        180   1468
12        190   2995
13        200   4473
14        210   6272
15        220   1564
16        250   3169
17        270   6285
18        300  15166
19        330  12540
20        380   6418

In [6]:
# Pack sizes seems sensible
# Use first word in PROD_NAME to extract brand names 

transaction_df.loc[:, "BRAND"] = transaction_df["PROD_NAME"].str.split().str[0].str.upper()
transaction_df["BRAND"].sample(10)

134617         RED
34007      DORITOS
232457      SMITHS
149612         CCS
194250         OLD
142829       THINS
252542     CHEETOS
101777     DORITOS
128520    SUNBITES
135457    PRINGLES
Name: BRAND, dtype: object

In [10]:
# Correct brand names, e.g RED and RRD are the same brand

brand_corrections = {
    "RED": "RRD", "SNBTS": "SUNBITES", "INFZNS": "INFUZIONS", "WW": "WOOLWORTHS",
    "SMITH": "SMITHS", "NCC": "NATURAL", "DORITO": "DORITOS", "GRAIN": "GRNWVES"
}
transaction_df.loc[:, "BRAND"] = transaction_df["BRAND"].replace(brand_corrections)
transaction_df["BRAND"].sample(10)

17444         KETTLE
104059        SMITHS
24835        GRNWVES
163355        KETTLE
17961       SUNBITES
118629        SMITHS
156161    WOOLWORTHS
105036      TWISTIES
257632     INFUZIONS
92110         KETTLE
Name: BRAND, dtype: object

In [ ]:
# Merge transaction and customer data
data = transaction_df.merge(purchase_df, on="LYLTY_CARD_NBR", how="left")
data.to_csv(f"final_data.csv", index=False)